{
  "name": "RNX-UI",
  "dest": "./docs",
  "examplePath": "./demo/component",
  "instructionsInfoPath": "./",
  "common": {
    "title": "RNX-UI Documentation",
    "footer": "&copy; 2017 <a href=\"https://github.com/YMFE\">RNX-UI</a> Team. Build by <a href=\"https://github.com/YMFE/ydoc\">YDoc</a>.",
    "home": "RNX-UI",
    "navbars": [],
  },
   "options": {
    "insertCSS": [
      "theme/ydoc.css"
    ],
    "insertJS": [
      "theme/ydoc.js"
    ],
    "hasPageName": true
  },
  "resources": {
    "theme": "./styles/theme"
  },

  "pages": [
    {
      "name": "index",
      "title": "RNX-UI",
      "banner": {
        "title": "RNX-UI",
        "description": "RNX-UI <p class=\"version\">当前版本：v0.17.0</p>"
      },
      "content": "./README.md"
    },
    {
      "name": "component",
      "title": "组件",
      "banner": {
        "title": "组件",
        "description": "组件的说明文档"
      },
      "content": {
        "type": "blocks",
        "sidebar": true,
        "multi": true,
        "index": "./All/index.js",
        "pages": [
         {
            "name": "All",
            "content": "./All/index.js",
          },
          {
            "name": "Navigtor"
          },
          {
            "name": "Navbar",
            "content": "./Navbar/index.js",
            "sub": true
          },
          {
            "name": "TabBar",
            "content": "./TabBar/index.js",
            "sub": true
          },
          {
            "name": "Data Entry"
          },
          {
            "name": "AddAndSubtract",
            "content": "./AddAndSubtract/index.js",
            "sub": true
          },
          {
            "name": "Btn",
            "content": "./Btn/index.js",
            "sub": true
          },
          {
            "name": "ImgRollView",
            "content": "./ImgRollView/index.js",
            "sub": true
          },
          {
            "name": "ImgPicker",
            "content": "./ImgPicker/index.js",
            "sub": true
          },
          {
            "name": "NumericKeyBoard",
            "content": "./NumericKeyBoard/index.js",
            "sub": true
          },
          {
            "name": "PhoneNumInput",
            "content": "./PhoneNumInput/index.js",
            "sub": true
          },
           {
            "name": "SmsCaptchaInput",
            "content": "./SmsCaptchaInput/index.js",
            "sub": true
          },
          {
            "name": "VirtualPasswordInput",
            "content": "./VirtualPasswordInput/index.js",
            "sub": true
          },
          {
            "name": "Data Display"
          },
          {
            "name": "Badge",
            "content": "./Badge/index.js",
            "sub": true
          },
          {
            "name": "CardView",
            "content": "./CardView/index.js",
            "sub": true
          },
          {
            "name": "DynamicText",
            "content": "./DynamicText/index.js",
            "sub": true
          },
           {
            "name": "ImgHolder",
            "content": "./ImgHolder/index.js",
            "sub": true
          },
          {
            "name": "RefreshView",
            "content": "./RefreshView/index.js",
            "sub": true
          },
          {
            "name":"Feedback" 
          },
          {
            "name": "ActionSheet",
            "content": "./ActionSheet/index.js",
            "sub": true
          },
          {
            "name": "Alert",
            "content": "./Alert/index.js",
            "sub": true
          },
          {
            "name": "Confirm",
            "content": "./Confirm/index.js",
            "sub": true
          },
          {
            "name": "Dialog",
            "content": "./Dialog/index.js",
            "sub": true
          },
          {
            "name": "Drop",
            "content": "./Drop/index.js",
            "sub": true,
          },
          {
            "name": "Dropper",
            "content": "./Drop/Dropper/index.js",
            "sub": true,
          },
          {
            "name": "Emitter",
            "content": "./Drop/Emitter/index.js",
            "sub": true,
          },
          {
            "name": "Receiver",
            "content": "./Drop/Receiver/index.js",
            "sub": true,
          },
          {
            "name": "HeaderedSheet",
            "content": "./HeaderedSheet/index.js",
            "sub": true
          },
          {
            "name": "Loading",
            "content": "./Loading/index.js",
            "sub": true
          },
          {
            "name": "Overlay",
            "content": "./Overlay/index.js",
            "sub": true
          },
          {
            "name": "Sheet",
            "content": "./Sheet/index.js",
            "sub": true
          },
           {
            "name": "ToolTip",
            "content": "./ToolTip/index.js",
            "sub": true
          },
          {
            "name": "Other"
          },
          {
            "name": "KeyboardAdaptiveView",
            "content": "./KeyboardAdaptiveView/index.js",
            "sub": true
          },
        
        ]
      }
    },
      {
      "name": "util",
      "title": "方法",
      "banner": {
        "title": "方法",
        "description": "方法的说明文档"
      },
      "content": {
        "type": "blocks",
        "sidebar": true,
        "multi": true,
        "index": "./util/transPXToDp/index.js",
        "pages": [
           {
             "name":"Method"
           },
           {
            "name": "TransPXToTop",
            "content": "./util/transPXToDp/index.js",
            "sub": true
          },
           {
            "name": "Validator",
            "content": "./util/Validator/index.js",
            "sub": true
          },
         ]
       }
     },
    {
      "name": "CHANGELOG",
      "title": "版本",
      "banner": {
        "title": "版本",
        "description": "RNX-UI 的历史版本发布时间及变更记录，帮助你追溯到每个版本的演进过程。"
      },
      "content": "./CHANGELOG.md"
    },
  ]
}